{% block _annonce_images_widget %}
    {{ form_widget(form) }}
{% endblock %}

{% block _annonce_images_entry_row %}
    <div id="block_{{ id }}">
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block _annonce_images_entry_widget %}
    <div class="row align-items-center mb-3">
        <div class="col-4">
            
            {{ form_row(form.url) }}
        </div>

        <div class="col-6">
            {{ form_row(form.caption, {'label' : 'Titre'}) }}
        </div>

        <div class="col-2">
            <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">X</button>
        </div> 
    </div>
{% endblock %}