{% extends 'admin/base.html.twig' %}

{% block title %}Modifications de l'annonce {{ ad.title }}{% endblock %}
{% form_theme form 'admin/ad/_collection-form.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5">Modifications de l'annonce {{ ad.title }}</h1>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-6">
                <div class="card bg-light">
                    <div class="card-header">
                        <h4 class="card-title">l'Annonce</h4>
                    </div>
                    <div class="card-body">
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-light">
                    <div class="card-header">
                        <h4>Les réservations</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Voyageur</th>
                                    <th>Date de réservation</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for booking in ad.bookings %}  
                                <tr>
                                    <td>{{ booking.id }}</td>
                                    <td>{{ booking.booker.fullName }}</td>
                                    <td>{{ booking.createdAt | date('d/m/Y') }}</td>
                                    <td>
                                        <a href="" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card bg-light mt-5">
                    <div class="card-header">
                        <h4>Les Commentaires</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Voyageur</th>
                                    <th>Note</th>
                                    <th>Commentaire</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for comment in ad.comments %}  
                                <tr>
                                    <td>{{ comment.id }}</td>
                                    <td>{{ comment.author.fullName }}</td>
                                    <td>{{ comment.rating}}</td>
                                    <td>{{ comment.content}}</td>
                                    <td>
                                        <a href="{{ path('admin_comments_edit', {'id': comment.id}) }}" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('button[data-action="delete"]').click(function(){
            const target = this.dataset.target;
            $(target).remove();
            });
        });
    </script>
{% endblock %}
