<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">SymBNB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage') }}"><i class="fas fa-home menu-icons"></i>Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('ads_index') }}"><i class="fas fa-archive menu-icons"></i>Annonces</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            {% if app.user %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                        <img src="{{ app.user.picture }}" class="avatar avatar-mini" alt="photo de profil de {{ app.user.fullName }}">
                        {{ app.user.fullName }}
                    </a>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                        <a href="{{ path('ads_create') }}" class="dropdown-item"><i class="fas fa-plus menu-icons"></i>Créer une annonce</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('account_index') }}" class="dropdown-item"><i class="fas fa-user-alt menu-icons"></i>Mon compte</a>
                        <a href="{{ path('account_bookings') }}" class="dropdown-item"><i class="fas fa-book menu-icons"></i>Mes réservations</a>
                        <a href="{{ path('account_profile') }}" class="dropdown-item"><i class="fas fa-user-edit menu-icons"></i>Modifier mon profil</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('account_logout') }}" class="dropdown-item"><i class="fas fa-sign-out-alt menu-icons"></i>Déconnexion</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{{ path('account_register') }}" class="nav-link"><i class="fas fa-user-plus menu-icons"></i>Inscription</a>
                </li>

                <li class="nav-item">
                    <a href="{{ path('account_login') }}" class="nav-link"><i class="fas fa-sign-in-alt menu-icons"></i>Connexion</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>